<div
  id='services'
  class='hero min-h-screen bg-base-200 items-center flex flex-col justify-start'
>
  <h1>{{t 'nav.services'}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vero magnam
    earum omnis pariatur deleniti culpa labore ea qui blanditiis.</p>
</div>
