<section class='embla' dir='rtl'>
  <div class='embla__viewport'>
    <div class='embla__container'>
      <div class='embla__slide'>
        <div class='embla__slide__number'>1</div>
      </div>
      <div class='embla__slide'>
        <div class='embla__slide__number'>2</div>
      </div>
      <div class='embla__slide'>
        <div class='embla__slide__number'>3</div>
      </div>
      <div class='embla__slide'>
        <div class='embla__slide__number'>4</div>
      </div>
      <div class='embla__slide'>
        <div class='embla__slide__number'>5</div>
      </div>
    </div>
  </div>

  <div class='embla__controls'>
    <div class='embla__dots'></div>
  </div>
</section>
